.facets-list {
    border: 1px solid lightgray;
    width: 100%;
}

.facets-list-title-bar {
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.facets-list-content-container {
    padding: 5px;
}

.facets-list-item {
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facets-list-item-label {
    margin-left: 3px;
    flex: 1;
}

.facets-list-item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: darkblue;
}

.facets-list-item-occurrences {
    word-break: keep-all;
    white-space: nowrap;
    margin-right: 5px;
}

.facets-list-no-availble-items {
    text-align: center;
    font-style: italic;
    color: gray;
}